<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li><%= link_to('Home', routes.root_path, title: 'Home') %></li>
          <li class="footer-menu-divider">&sdot;</li>

          <li><%= link_to('Albums', routes.albums_path, title: 'Albums') %></li>
          <li class="footer-menu-divider">&sdot;</li>

          <li><%= link_to('Add album', routes.new_album_path, title: 'Add album') %></li>
          <li class="footer-menu-divider">&sdot;</li>

          <li><%= link_to('About', routes.about_path, title: 'About Hyperion') %></li>
        </ul>

        <p class="copyright text-muted small">
          Hyperion, 2016 - <%= Date.today.year %>

          <span class="pull-right">
            Powered by <a href="http://hanamirb.org/" target="_blank" title="Hanami website">Hanami</a>
          </span>
        </p>
      </div>
    </div>
  </div>
</footer>
